body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, auto, auto);
  width: 520px;
}

.grid > *:nth-child(2), .grid > *:nth-child(3) {
  grid-column: span 4;
}

.grid .calculatorDisplay {
  grid-column: 1/9;
  height: 75px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-size: inherit;
  font-family: 'Courier New', Courier, monospace;
}

.calculatorDisplay {
  background: white;
}

.item {
  grid-column: span 2;
  font-size: small;
}

.calculatorButton {
  font-size: 50px;
  cursor: pointer;
  border:  3px outset black;
  background-color: rgb(197, 197, 197);

  height: 75px;
  width: 100%; 
  border-radius: 10px;
}

.calculatorButton:hover {
  background-color: rgb(228, 228, 228);
  color: black;
}

.calculatorButton:active {
  background-color: rgb(228, 228, 228);
  color: black;
  border: 3px outset rgb(37, 37, 37);
}

.item:nth-child(4n + 7) .calculatorButton{
  background-color:darkgray;
}

.item:nth-child(4n + 7) .calculatorButton:hover{
  background-color: rgb(210, 210, 210);
  color: black;
}

.item:nth-child(4n + 7) .calculatorButton:active {
  background-color: rgb(210, 210, 210);
  color: black;
  border: 3px outset rgb(37, 37, 37);
}


.item:nth-child(18) .calculatorButton{
  background-color:rgb(163, 221, 231);
}

.item:nth-child(18) .calculatorButton:hover{
  background-color:rgb(173, 243, 255);
  color: black;
}

.item:nth-child(18) .calculatorButton:active {
  background-color:rgb(173, 243, 255);
  color: black;
  border: 3px outset rgb(37, 37, 37);
}

.item:nth-child(2) .calculatorButton, .item:nth-child(3) .calculatorButton {
  background-color:rgb(230, 46, 55);
}

.item:nth-child(2) .calculatorButton:hover, .item:nth-child(3) .calculatorButton:hover {
  background-color:rgb(255, 94, 102);
  color: black;
}

.item:nth-child(2) .calculatorButton:active, .item:nth-child(3) .calculatorButton:active {
  background-color:rgb(255, 94, 102);
  color: black;
  border: 3px outset rgb(37, 37, 37);
}